flow.json
[{"id":"c57e52ed.99f62","type":"tab","label":"Main","disabled":false,"info":""},{"id":"f354eb76.fb767","type":"tab","label":"Test","disabled":false,"info":""},{"id":"6d3d8e96.845d6","type":"tab","label":"Sync Step 1","disabled":false,"info":""},{"id":"9bee0340.b5bee8","type":"tab","label":"Sync Step 2","disabled":false,"info":""},{"id":"490b5cf0.3d3904","type":"http in","z":"c57e52ed.99f62","name":"input","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["bd81afc9.3fd3e","ced17edc.d73ec8"]]},{"id":"fb322c8c.dcffa8","type":"xml","z":"c57e52ed.99f62","name":"","property":"payload","attr":"$","chr":"_","x":290,"y":340,"wires":[["c12c24b5.7bba98"]]},{"id":"bd81afc9.3fd3e","type":"function","z":"c57e52ed.99f62","name":"OR control input","func":"\nvar cookie = \"JSESSIONID=\" + msg.payload.session;\n\noutput = {\n    \"root\": {\n        \"SEARCH\": {\n            \"$\": {\n                \"order_catalog_code\": msg.payload.code,\n                \"long_desc\":msg.payload.longdesc,\n                \"short_desc\":msg.payload.shortdesc,\n                \"order_category\":msg.payload.ordercate,\n                \"order_type_code\":msg.payload.ordertype,\n                \"security_level\":\"\",\n                \"activity_type\":msg.payload.activitytype,\n                \"image_link_id\":msg.payload.part,\n                \"indexed_yn\":msg.payload.index,\n                \"eff_status\":\"E\",\n                \"mode\":\"1\",\n                \"localeName\":\"en\",\n                \"bean_id\":\"Or_OrderCatalog\",\n                \"bean_name\":\"eOR.OrderCatalogBean\",\n                \"qry_str\":\"mode=1&function_id=OR_ORDER_MASTER&menu_id=ORDERENTRYRESULTREPORTING&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN\",\n                \"function_id\":\"OR_ORDER_MASTER\",\n                \"module_id\":\"OR\",\n                \"eff_status_mod\":\"E\", \n                \"ot_module\":\"\",\n                \"oh_module\":\"\",\n                \"locale\":\"en\"\n            }\n        }\n    }\n}\nmsg.payload = output;\nmsg.headers = {\n    \"Accept\":\"*/*\",\n    \"Content-type\":\"application/x-www-form-urlencoded\",\n    \"Referer\":\"http://20.194.59.136:7777/HIS/eOR/jsp/OROrderCatalog.jsp?menu_id=CIS&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN\",\n    \"Accept-Language\":\"en-us\",\n    \"Accept-Encoding\":\"gzip, deflate\",\n    \"User-Agent\":\"Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 10.0; WOW64; Trident/8.0; .NET4.0C; .NET4.0E)\",\n    \"Host\":\"20.194.59.136:7777\",\n    \"Connection\":\"Keep-Alive\",\n    \"Pragma\":\"no-cache\",\n    \"Cookie\": cookie\n};\n//msg.cookies = {\n//    \"name\":\"JSESSIONID\",\n//    \"session\": {\n//        \"value\": cookie\n//    }\n//};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":140,"wires":[["fb322c8c.dcffa8"]]},{"id":"c12c24b5.7bba98","type":"function","z":"c57e52ed.99f62","name":"slice xml header","func":"msg.payload = msg.payload.slice(55);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":420,"wires":[["2883814b.84a806","838f42d5.ee06b8"]]},{"id":"2883814b.84a806","type":"http request","z":"c57e52ed.99f62","name":"DXC OR control request","method":"POST","ret":"txt","url":"http://20.194.59.136:7777/HIS/eOR/jsp/OrController.jsp","tls":"","x":570,"y":300,"wires":[["89d7bcd7.db299","11ce918e.5632d6"]]},{"id":"89d7bcd7.db299","type":"http response","z":"c57e52ed.99f62","name":"","statusCode":"","headers":{},"x":930,"y":180,"wires":[]},{"id":"14f66d81.1fb02a","type":"http in","z":"f354eb76.fb767","name":"test input","url":"test/","method":"post","upload":false,"swaggerDoc":"","x":130,"y":160,"wires":[["825de173.19af6","19f0f9f8.a63b3e"]]},{"id":"825de173.19af6","type":"debug","z":"f354eb76.fb767","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":340,"y":220,"wires":[]},{"id":"f84cb03e.ce9368","type":"http response","z":"f354eb76.fb767","name":"","statusCode":"","headers":{},"x":390,"y":100,"wires":[]},{"id":"19f0f9f8.a63b3e","type":"template","z":"f354eb76.fb767","name":"done","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Done","output":"str","x":270,"y":120,"wires":[["f84cb03e.ce9368"]]},{"id":"ec6043df.43b328","type":"http in","z":"6d3d8e96.845d6","name":"step1","url":"/step1","method":"get","upload":false,"swaggerDoc":"","x":120,"y":200,"wires":[["8bb0e2db.e65928","580e0bfe.9b9194"]]},{"id":"8bb0e2db.e65928","type":"function","z":"6d3d8e96.845d6","name":"Order Catalog Sync","func":"var cookie = \"JSESSIONID=\" + msg.payload.session;\n\nvar output = {\n    \"root\":{\n        \"SEARCH\":{\n            \"$\":{\n                \"catalog_synonym_primary\":msg.payload.code,\n                \"effective_status_primary\":\"Y\",\n                \"catalog_synonym_directCare\":\"\",\n                \"effective_status_directCare\":\"\",\n                \"catalog_synonym_ancillaryDept\":\"\",\n                \"effective_status_ancillaryDept\":\"\",\n                \"qty_reqd_yn\":\"\",\n                \"freq_applicable_yn\":\"\",\n                \"soft_stop_yn\":\"\",\n                \"cont_order_yn\":\"\",\n                \"contineous_freq_order\":\"\",\n                \"priority_appl\":\"\",\n                \"chk_for_dupl_yn\":\"\",\n                \"routine_chk_for_dupl_yn\":\"\",\n                \"urgent_chk_for_dupl_yn\":\"\",\n                \"stat_chk_for_dupl_yn\":\"\",\n                \"chk_for_dupl_status\":\"\",\n                \"check_for_dupl_level\":\"\",\n                \"chk_for_dupl_behind_action\":\"\",\n                \"chk_for_dupl_behind_period\":\"\",\n                \"chk_for_dupl_behind_unit\":\"\",\n                \"chk_for_dupl_ahead_action\":\"\",\n                \"chk_for_dupl_ahead_period\":\"\",\n                \"chk_for_dupl_ahead_unit\":\"\",\n                \"dup_reason_reqd_yn\":\"\",\n                \"consent_reqd_yn\":\"\",\n                \"consent_form_list\":\"F\",\n                \"consent_stage\":\"A\",\n                \"multiple_consent_yn\":\"\",\n                \"num_of_consent_req_bo\":\"0\",\n                \"num_of_consent_req_br\":\"0\",\n                \"consent_form_id\":\"\",\n                \"refusal_form_id\":\"\",\n                \"explanatory_text\":\"\",\n                \"dept_only_yn\":\"\",\n                \"complete_on_order_yn\":\"\",\n                \"bill_yn\":\"Y\",\n                \"result_applicable_yn\":\"\",\n                \"auto_report_yn\":\"\",\n                \"confidential_yn\":\"\",\n                \"result_auth_reqd_yn\":\"\",\n                \"order_catalog_nature\":\"A\",\n                \"chart_result_type\":\"\",\n                \"proc_coding_scheme\":\"\",\n                \"discr_msr_panel_id_desc\":\"\",\n                \"discr_msr_panel_id\":\"\",\n                \"appl_button\":\"?\",\n                \"contr_mod_id\":\"\",\n                \"contr_msr_panel_desc\":\"\",\n                \"contr_msr_panel_id\":\"\",\n                \"ChartProceApplicable\":\"Y\",\n                \"proc_link_applicable\":\"X\",\n                \"proc_link_resulting_option\":\"M\",\n                \"term_set_id\":\"\",\n                \"term_code\":\"\",\n                \"term_desc\":\"\",\n                \"term_code_button\":\"?\",\n                \"temp_term_desc\":\"\",\n                \"notes_sql\":\"select note_type code,note_type_desc description from ca_note_type where eff_Status = 'E' and upper(note_type) like upper(?) and upper(note_type_desc) like upper(?)  and note_group_id in (SELECT NOTE_GROUP FROM CA_NOTE_GROUP WHERE APPL_TASK_ID='RESULT_REPORTING') \",\n                \"sql_or_catalog_discrete_auto_report_yn\":\"SELECT DISCR_MSR_ID code, SHORT_dESC description FROM AM_DISCR_MSR WHERE RESULT_TYPE ='H' AND EFF_sTATUS = 'E' and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) ORDER BY 2 \",\n                \"sql_or_catalog_discrete_profile\":\"select discr_msr_id code,short_Desc description from am_discr_msr where eff_Status ='E' and result_type ='Z' and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) order by 2\",\n                \"sql_or_catalog_culture_test_atomic\":\"select discr_msr_id code,short_Desc description from am_discr_msr where eff_Status ='E' and result_type in('F')and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) order by 2\",\n                \"ResultTemplate_sql\":\"select  result_temp_id code ,result_temp_desc description from or_result_template_editor where result_temp_id like ? and result_temp_desc like ? order by 2\",\n                \"ResultMatrix_sql\":\"select chart_result_type code,chart_result_type_desc description from or_chart_result_type where chart_result_type like ? and chart_result_type_desc like ? order by 2\",\n                \"sql_or_catalog_discrete_atomic\":\"select discr_msr_id code,short_Desc description from am_discr_msr where eff_Status ='E' and result_type not in('V','Z','H','P','A','R','S','X')and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) order by 2\",\n                \"mode\":\"1\",\n                \"localeName\":\"en\",\n                \"bean_id\":\"Or_OrderCatalog\",\n                \"bean_name\":\"eOR.OrderCatalogBean\",\n                \"qry_str\":\"mode=1&function_id=OR_ORDER_MASTER&menu_id=CIS&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN&tabFlag=C&order_category=\"+msg.payload.ordercate+\"&order_type_code=\"+msg.payload.ordertype,\n                \"bill_install_Yn\":\"Y\",\n                \"order_category\":msg.payload.ordercate,\n                \"result_applicable_yn_db\":\"Y\",\n                \"tabType\":\"C\",\n                \"qty_uom_sql\":\"select uom_code code,short_Desc description from AM_UOM where eff_Status = 'E' and upper(uom_code) like upper(?) and upper(short_desc) like upper(?) order by 2  \",\n                \"chart_sql\":\"select chart_id code,short_desc description from ca_chart where  upper(chart_id) like upper(?) and upper(short_desc) like upper(?) and eff_status='E' order by 2\",\n                \"update_soft_stop_yn_db\":\"N\",\n                \"update_cont_order_yn_db\":\"N\"\n            }\n        }\n    }\n}\nmsg.payload = output;\nmsg.headers = {\n    \"Accept\":\"*/*\",\n    \"Content-type\":\"text/xml; charset=UTF-8\",\n    \"Referer\":\"http://20.194.59.136:7777/HIS/eOR/jsp/OROrderCatalog.jsp?menu_id=CIS&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN\",\n    \"Accept-Language\":\"en-us\",\n    \"Accept-Encoding\":\"gzip, deflate\",\n    \"User-Agent\":\"Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 10.0; WOW64; Trident/8.0; .NET4.0C; .NET4.0E)\",\n    \"Host\":\"20.194.59.136:7777\",\n    \"Connection\":\"Keep-Alive\",\n    \"Pragma\":\"no-cache\",\n    \"Cookie\": cookie\n};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["8e07b13e.fccc5"]]},{"id":"8e07b13e.fccc5","type":"xml","z":"6d3d8e96.845d6","name":"","property":"payload","attr":"","chr":"","x":430,"y":280,"wires":[["899adddd.2ea37"]]},{"id":"899adddd.2ea37","type":"function","z":"6d3d8e96.845d6","name":"slice xml header","func":"msg.payload = msg.payload.slice(55);\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":200,"wires":[["5c680f0b.dcf848","b949d5b5.995b"]]},{"id":"5c680f0b.dcf848","type":"http request","z":"6d3d8e96.845d6","name":"Inject","method":"POST","ret":"txt","url":"http://20.194.59.136:7777/HIS/eOR/jsp/OrderCatalogSync.jsp","tls":"","x":790,"y":280,"wires":[["8dcce271.4e0a9","9d941899.11473"]]},{"id":"8dcce271.4e0a9","type":"http response","z":"6d3d8e96.845d6","name":"","statusCode":"","headers":{},"x":770,"y":120,"wires":[]},{"id":"ce38202d.277bc8","type":"http in","z":"9bee0340.b5bee8","name":"step2","url":"/step2","method":"get","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["110fa300.024f9d","f3a405c4.bee23"]]},{"id":"110fa300.024f9d","type":"function","z":"9bee0340.b5bee8","name":"Order Catalog Sync","func":"var cookie = \"JSESSIONID=\" + msg.payload.session;\n\nvar output = {\n    \"root\":{\n        \"SEARCH\":{\n            \"$\":{\n                \"ord_auth_level\":\"\",\n                \"ord_cosign_level\":\"\",\n                \"patient_class0\":\"*A\",\n                \"setting_applicability0\":\"X\",\n                \"ord_auth_reqd_yn0\":\"\",\n                \"skip_auth0\":\"NA\",\n                \"ord_cosign_reqd_yn0\":\"\",\n                \"ord_spl_appr_reqd_yn0\":\"\",\n                \"noOfRecords\":\"5\",\n                \"patient_class1\":\"DC\",\n                \"setting_applicability1\":\"X\",\n                \"ord_auth_reqd_yn1\":\"\",\n                \"skip_auth1\":\"NA\",\n                \"ord_cosign_reqd_yn1\":\"\",\n                \"ord_spl_appr_reqd_yn1\":\"\",\n                \"patient_class2\":\"EM\",\n                \"setting_applicability2\":\"X\",\n                \"ord_auth_reqd_yn2\":\"\",\n                \"skip_auth2\":\"NA\",\n                \"ord_cosign_reqd_yn2\":\"\",\n                \"ord_spl_appr_reqd_yn2\":\"\",\n                \"patient_class3\":\"XT\",\n                \"setting_applicability3\":\"X\",\n                \"ord_auth_reqd_yn3\":\"\",\n                \"skip_auth3\":\"NA\",\n                \"ord_cosign_reqd_yn3\":\"\",\n                \"ord_spl_appr_reqd_yn3\":\"\",\n                \"patient_class4\":\"IP\",\n                \"setting_applicability4\":\"X\",\n                \"ord_auth_reqd_yn4\":\"\",\n                \"skip_auth4\":\"NA\",\n                \"ord_cosign_reqd_yn4\":\"\",\n                \"ord_spl_appr_reqd_yn4\":\"\",\n                \"patient_class5\":\"OP\",\n                \"setting_applicability5\":\"X\",\n                \"ord_auth_reqd_yn5\":\"\",\n                \"skip_auth5\":\"NA\",\n                \"ord_cosign_reqd_yn5\":\"\",\n                \"ord_spl_appr_reqd_yn5\":\"\",\n                \"mode\":\"1\",\n                \"bean_id\":\"Or_OrderCatalog\",\n                \"bean_name\":\"eOR.OrderCatalogBean\",\n                \"qry_str\":\"mode=1&function_id=OR_ORDER_MASTER&menu_id=ORDERENTRYRESULTREPORTING&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN\",\n                \"function_id\":\"OR_ORDER_MASTER\",\n                \"module_id\":\"OR\",\n                \"locale\":\"en\",\n                \"tabType\":\"R\"\n            }\n        }\n    }\n}\nmsg.payload = output;\nmsg.headers = {\n    \"Accept\":\"*/*\",\n    \"Content-type\":\"text/xml; charset=UTF-8\",\n    \"Referer\":\"http://20.194.59.136:7777/HIS/eOR/jsp/OROrderCatalog.jsp?menu_id=CIS&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN\",\n    \"Accept-Language\":\"en-us\",\n    \"Accept-Encoding\":\"gzip, deflate\",\n    \"User-Agent\":\"Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 10.0; WOW64; Trident/8.0; .NET4.0C; .NET4.0E)\",\n    \"Host\":\"20.194.59.136:7777\",\n    \"Connection\":\"Keep-Alive\",\n    \"Pragma\":\"no-cache\",\n    \"Cookie\": cookie\n};\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":180,"wires":[["488cb834.3604c8"]]},{"id":"488cb834.3604c8","type":"xml","z":"9bee0340.b5bee8","name":"","property":"payload","attr":"","chr":"","x":440,"y":260,"wires":[["705c2c96.a03f9c"]]},{"id":"705c2c96.a03f9c","type":"function","z":"9bee0340.b5bee8","name":"slice xml header","func":"msg.payload = msg.payload.slice(55);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["38c596b0.46c97a","6826fe95.376728"]]},{"id":"38c596b0.46c97a","type":"http request","z":"9bee0340.b5bee8","name":"Inject","method":"POST","ret":"txt","url":"http://20.194.59.136:7777/HIS/eOR/jsp/OrderCatalogSync.jsp","tls":"","x":800,"y":260,"wires":[["a9723a0d.744188","7b1b68c8.0199"]]},{"id":"a9723a0d.744188","type":"http response","z":"9bee0340.b5bee8","name":"","statusCode":"","headers":{},"x":780,"y":100,"wires":[]},{"id":"b949d5b5.995b","type":"debug","z":"6d3d8e96.845d6","name":"input 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":80,"wires":[]},{"id":"9d941899.11473","type":"debug","z":"6d3d8e96.845d6","name":"output 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":100,"wires":[]},{"id":"6826fe95.376728","type":"debug","z":"9bee0340.b5bee8","name":"input 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":60,"wires":[]},{"id":"7b1b68c8.0199","type":"debug","z":"9bee0340.b5bee8","name":"output 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":780,"y":360,"wires":[]},{"id":"838f42d5.ee06b8","type":"debug","z":"c57e52ed.99f62","name":"input main","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":790,"y":500,"wires":[]},{"id":"11ce918e.5632d6","type":"debug","z":"c57e52ed.99f62","name":"output main","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":100,"wires":[]},{"id":"580e0bfe.9b9194","type":"debug","z":"6d3d8e96.845d6","name":"HTTP step 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":240,"y":120,"wires":[]},{"id":"f3a405c4.bee23","type":"debug","z":"9bee0340.b5bee8","name":"HTTP step 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":100,"wires":[]},{"id":"ced17edc.d73ec8","type":"debug","z":"c57e52ed.99f62","name":"HTTP main","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":170,"y":100,"wires":[]}]