flow.json
[{"id":"c57e52ed.99f62","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"490b5cf0.3d3904","type":"http in","z":"c57e52ed.99f62","name":"input","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["bd81afc9.3fd3e","bcbf91ca.0455f8"]]},{"id":"3c83a0d3.81ecd8","type":"http response","z":"c57e52ed.99f62","name":"output","statusCode":"","headers":{},"x":810,"y":160,"wires":[]},{"id":"fb322c8c.dcffa8","type":"xml","z":"c57e52ed.99f62","name":"","property":"payload","attr":"$","chr":"_","x":290,"y":340,"wires":[["c12c24b5.7bba98"]]},{"id":"bd81afc9.3fd3e","type":"function","z":"c57e52ed.99f62","name":"OR control input","func":"\nvar cookie = \"JSESSIONID=\"+msg.payload.session;\n\noutput = {\n    \"root\": {\n        \"SEARCH\": {\n            \"$\": {\n                \"order_catalog_code\": msg.payload.code,\n                \"long_desc\":msg.payload.longdesc,\n                \"short_desc\":msg.payload.shortdesc,\n                \"order_category\":msg.payload.ordercate,\n                \"order_type_code\":msg.payload.ordertype,\n                \"security_level\":\"\",\n                \"activity_type\":msg.payload.activitytype,\n                \"image_link_id\":msg.payload.part,\n                \"indexed_yn\":msg.payload.index,\n                \"eff_status\":\"E\",\n                \"mode\":\"1\",\n                \"localeName\":\"en\",\n                \"bean_id\":\"Or_OrderCatalog\",\n                \"bean_name\":\"eOR.OrderCatalogBean\",\n                \"qry_str\":\"mode=1&amp;function_id=OR_ORDER_MASTER&amp;menu_id=CIS&amp;module_id=OR&amp;function_id=OR_ORDER_MASTER&amp;function_name=Order%20Catalog&amp;function_type=F&amp;access=YYYNN\",\n                \"function_id\":\"OR_ORDER_MASTER\",\n                \"module_id\":\"OR\",\n                \"eff_status_mod\":\"E\", \n                \"ot_module\":\"\",\n                \"oh_module\":\"\",\n                \"locale\":\"en\"\n            }\n        }\n    }\n}\nmsg.payload = output;\nmsg.headers = {\n    \"Accept\":\"*/*\",\n    \"Content-type\":\"application/x-www-form-urlencoded\",\n    \"Referer\":\"http://192.168.1.21:7777/HIS/eOR/jsp/OROrderCatalog.jsp?menu_id=CIS&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN\",\n    \"Accept-Language\":\"en-us\",\n    \"Accept-Encoding\":\"gzip, deflate\",\n    \"User-Agent\":\"Mozilla/4.0 (compatible; MSIE 7.0; Windows NT 10.0; WOW64; Trident/8.0; .NET4.0C; .NET4.0E)\",\n    \"Host\":\"192.168.1.21:7777\",\n    \"Connection\":\"Keep-Alive\",\n    \"Pragma\":\"no-cache\",\n    \"Cookie\":cookie\n};\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["fb322c8c.dcffa8"]]},{"id":"c12c24b5.7bba98","type":"function","z":"c57e52ed.99f62","name":"slice xml header","func":"msg.payload = msg.payload.slice(55);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["2883814b.84a806"]]},{"id":"2883814b.84a806","type":"http request","z":"c57e52ed.99f62","name":"DXC OR control request","method":"POST","ret":"txt","url":"http://192.168.1.21:7777/HIS/eOR/jsp/OrController.jsp","tls":"","x":570,"y":300,"wires":[["e6c8341a.2aa948"]]},{"id":"e6c8341a.2aa948","type":"change","z":"c57e52ed.99f62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"headers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":180,"wires":[["3c83a0d3.81ecd8"]]},{"id":"bcbf91ca.0455f8","type":"function","z":"c57e52ed.99f62","name":"Order Catalog Sync","func":"outut = {\n    \"root\":{\n        \"SEARCH\":{\n            \"$\":{\n                \"catalog_synonym_primary\":msg.payload.code,\n                \"effective_status_primary\":\"Y\",\n                \"catalog_synonym_directCare\":\"\",\n                \"effective_status_directCare\":\"\",\n                \"catalog_synonym_ancillaryDept\":\"\",\n                \"effective_status_ancillaryDept\":\"\",\n                \"qty_reqd_yn\":\"\",\n                \"freq_applicable_yn\":\"\",\n                \"soft_stop_yn\":\"\",\n                \"cont_order_yn\":\"\",\n                \"contineous_freq_order\":\"\",\n                \"priority_appl\":\"\",\n                \"chk_for_dupl_yn\":\"\",\n                \"routine_chk_for_dupl_yn\":\"\",\n                \"urgent_chk_for_dupl_yn\":\"\",\n                \"stat_chk_for_dupl_yn\":\"\",\n                \"chk_for_dupl_status\":\"\",\n                \"check_for_dupl_level\":\"\",\n                \"chk_for_dupl_behind_action\":\"\",\n                \"chk_for_dupl_behind_period\":\"\",\n                \"chk_for_dupl_behind_unit\":\"\",\n                \"chk_for_dupl_ahead_action\":\"\",\n                \"chk_for_dupl_ahead_period\":\"\",\n                \"chk_for_dupl_ahead_unit\":\"\",\n                \"dup_reason_reqd_yn\":\"\",\n                \"consent_reqd_yn\":\"\",\n                \"consent_form_list\":\"F\",\n                \"consent_stage\":\"A\",\n                \"multiple_consent_yn\":\"\",\n                \"num_of_consent_req_bo\":\"0\",\n                \"num_of_consent_req_br\":\"0\",\n                \"consent_form_id\":\"\",\n                \"refusal_form_id\":\"\",\n                \"explanatory_text\":\"\",\n                \"dept_only_yn\":\"\",\n                \"complete_on_order_yn\":\"\",\n                \"bill_yn\":\"\",\n                \"result_applicable_yn\":\"Y\",\n                \"auto_report_yn\":\"\",\n                \"confidential_yn\":\"\",\n                \"result_auth_reqd_yn\":\"\",\n                \"order_catalog_nature\":\"A\",\n                \"chart_result_type\":\"\",\n                \"proc_coding_scheme\":\"\",\n                \"discr_msr_panel_id_desc\":\"\",\n                \"discr_msr_panel_id\":\"\",\n                \"appl_button\":\"?\",\n                \"contr_mod_id\":\"\",\n                \"contr_msr_panel_desc\":\"\",\n                \"contr_msr_panel_id\":\"\",\n                \"ChartProceApplicable\":\"Y\",\n                \"proc_link_applicable\":\"X\",\n                \"proc_link_resulting_option\":\"M\",\n                \"term_set_id\":\"\",\n                \"term_code\":\"\",\n                \"term_desc\":\"\",\n                \"term_code_button\":\"?\",\n                \"temp_term_desc\":\"\",\n                \"notes_sql\":\"select note_type code,note_type_desc description from ca_note_type where eff_Status = 'E' and upper(note_type) like upper(?) and upper(note_type_desc) like upper(?)  and note_group_id in (SELECT NOTE_GROUP FROM CA_NOTE_GROUP WHERE APPL_TASK_ID='RESULT_REPORTING') \",\n                \"sql_or_catalog_discrete_auto_report_yn\":\"SELECT DISCR_MSR_ID code, SHORT_dESC description FROM AM_DISCR_MSR WHERE RESULT_TYPE ='H' AND EFF_sTATUS = 'E' and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) ORDER BY 2 \",\n                \"sql_or_catalog_discrete_profile\":\"select discr_msr_id code,short_Desc description from am_discr_msr where eff_Status ='E' and result_type ='Z' and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) order by 2\",\n                \"sql_or_catalog_culture_test_atomic\":\"select discr_msr_id code,short_Desc description from am_discr_msr where eff_Status ='E' and result_type in('F')and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) order by 2\",\n                \"ResultTemplate_sql\":\"select  result_temp_id code ,result_temp_desc description from or_result_template_editor where result_temp_id like ? and result_temp_desc like ? order by 2\",\n                \"ResultMatrix_sql\":\"select chart_result_type code,chart_result_type_desc description from or_chart_result_type where chart_result_type like ? and chart_result_type_desc like ? order by 2\",\n                \"sql_or_catalog_discrete_atomic\":\"select discr_msr_id code,short_Desc description from am_discr_msr where eff_Status ='E' and result_type not in('V','Z','H','P','A','R','S','X')and upper(discr_msr_id) like upper(?) and upper(short_desc) like upper(?) order by 2\",\n                \"mode\":\"1\",\n                \"localeName\":\"en\",\n                \"bean_id\":\"Or_OrderCatalog\",\n                \"bean_name\":\"eOR.OrderCatalogBean\",\n                \"qry_str\":\"mode=1&function_id=OR_ORDER_MASTER&menu_id=CIS&module_id=OR&function_id=OR_ORDER_MASTER&function_name=Order%20Catalog&function_type=F&access=YYYNN&tabFlag=C&order_category=\"+msg.payload.ordercate+\"&order_type_code=\"+msg.payload.ordertype,\n                \"bill_install_Yn\":\"Y\",\n                \"order_category\":msg.payload.ordercate,\n                \"result_applicable_yn_db\":\"Y\",\n                \"tabType\":\"C\",\n                \"qty_uom_sql\":\"select uom_code code,short_Desc description from AM_UOM where eff_Status = 'E' and upper(uom_code) like upper(?) and upper(short_desc) like upper(?) order by 2  \",\n                \"chart_sql\":\"select chart_id code,short_desc description from ca_chart where  upper(chart_id) like upper(?) and upper(short_desc) like upper(?) and eff_status='E' order by 2\",\n                \"update_soft_stop_yn_db\":\"N\",\n                \"update_cont_order_yn_db\":\"N\"\n            }\n        }\n    }\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":540,"wires":[["6d6a09a7.9de898"]]},{"id":"6d6a09a7.9de898","type":"xml","z":"c57e52ed.99f62","name":"","property":"payload","attr":"","chr":"","x":520,"y":540,"wires":[["bb57c1d1.d3f348"]]},{"id":"bb57c1d1.d3f348","type":"function","z":"c57e52ed.99f62","name":"slice xml header","func":"msg.payload = msg.payload.slice(55);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":520,"wires":[["27f7c952.e6664e"]]},{"id":"27f7c952.e6664e","type":"http request","z":"c57e52ed.99f62","name":"","method":"POST","ret":"txt","url":"http://192.168.1.21:7777/HIS/eOR/jsp/OrderCatalogSync.jsp","tls":"","x":770,"y":440,"wires":[["920ab116.1b69e"]]},{"id":"920ab116.1b69e","type":"change","z":"c57e52ed.99f62","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"headers","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":360,"wires":[["3c83a0d3.81ecd8"]]}]